*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Roboto,sans-serif;
}

header{
    width: 100%;
    height: 15%;
}

.headerindex{
    height: 0%;
}

.videoindex{
    height: 1420px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


h2{
    margin-bottom: 50px;
    margin-left: 1.5rem;
    text-decoration: underline ;
    color: rgb(41, 90, 165);
}

.bg-light{
    background-color: transparent !important;
}

.navbar-brand{
    margin-right: 0%;
    width: 44%;
    height: 94px;
}

.offcanvas.show:not(.hiding){
    width: 17%;
}

.offcanvas.offcanvas-end{
    width: 17%;
}

.navbar-nav .nav-link.active{
    color: #295aa5;
    font-size: 1.4em;
}

.nav-link{
    color: #295aa5;
    font-size: 1.4em;
    font-weight: bold;
}

.nav-item{
    /* margin-top: 1rem; */
    margin-bottom: 0;
}

.accordion-item{
    border: none;
    border-color: none;
    --bs-accordion-btn-focus-border-color:none !important;
}

.accordion-header{
    margin-top: 1rem;
    margin-left: 0;
    text-decoration: none;
}

.accordion-button{
    font-size: 1.4rem;
    font-weight: bold;
    color: #295aa5 !important;
    padding: 0 !important;
    background-color: none;
}

.accordion-button::after{
    display: none;
}

.accordion-item:first-of-type .accordion-button{
    background-color: white;
}

.accordion-button:focus{
    border-color: white;
}

.accordion-body{
    font-size: 1.1rem;
    color: #295aa5;
    font-weight: 400;
}

.accordion{
    --bs-accordion-btn-focus-border-color: #f54444 !important;
}

a{
    color: #295aa5;
}

.img-logo{
    width: 30%;
    height: 85px;
    /* background-color: blue; */
    object-fit: contain;
}

.img-logo1{
    display: none;
}

main{
    width: 100%;
    height: max-content;
}

/* CONTACTO */

.section-contacto{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 45px;
}

.div-contacto{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-contacto1{
    display: inline-block;
    width: 25%;
    height: fit-content;
    color: white;
    font-size: 2.1em;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #295aa5;
}

.div-contacto2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.div-contacto4{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-contacto5{
    width: 50%;
    margin-left: 24px;
    padding-right: 18px;
    padding-left: 18px;
    display: flex;    
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.v-agrupado{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.vector-contacto{
    width: 50%;
}

.img-vector{
    width: 60%;
}

.consultanos-contacto{
    width: 30%;
    margin: 0 auto;
    transition: all 0.5s;
}

.consultanos-contacto:hover{
    transform: scale(1.1);
}


.boton-consultanos{
    width: 80px;
    border: 2px solid #295aa5;
    border-radius: 30px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
}

.btncontacto{
    width: 124px;
}

.div-iframe{
    width: 50%;
}

.contacto-richetta{
    text-align: center;
}

.contacto-richetta1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.img-contacto2{
    width: 20px;
    height: 20px;
    color: #295aa5;
}

/* HISTORIA */

.sectionhistoria{
    width: 100%;
    display: flex;
    flex-direction: row;
}    

.fotoshistoria{
    width: 62.5%;
    height: 1307.2px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}

/* .fotos__historia{
} */

/* ------AGREGAR A VARIABLE H2 Y MEDIDAS FONDO AZUL---- */
.h2historia{
    width: 50%;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 700;
    background-color: #295aa5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 0;
    margin-bottom: 0;
}

.textohistoria{
    width: 37.5%;
    
}

.texto__historia{
    display: inline-block;
    max-height: 80vh;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-y: scroll;
    margin-top: 10px;
}

.sumate-historia{
    width: 100%;
    /* display: block; */
    text-align: center;
    /* margin-top: 30px;
    margin-bottom: 48px; */
    transition: 0.5s;
    margin: 0 auto;
}

.sumate-historia:hover{
    transform: scale(1.1);
}

.boton-sumate{
    border: 2px solid #295aa5;
    border-radius: 30px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 0px !important;   
}

/* ----MISION-VALORES---- */

.h2-p{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 3rem;
}

.h2-mision{
    width: 50%;
    height: 66.3906px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2.1rem;
    background-color: #295aa5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 0;
    margin-bottom: 0;
}

.p-mision{
    padding-left: 1rem;
}

.div-vision{
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-vision{
    width: 9em;
}

.card-vision{
    height: 150px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #e0e0e0;
    padding: 1.5rem 3rem 1.5rem 3rem;
    box-shadow: 5px 5px 5px #e0e0e0;
}

.h4-vision{
    color: #295aa5;
    font-size: 2em;
    font-weight: 500;
}

.p-vision{
    font-size: 1.2em;
    font-weight: 400;
}

.card-mision{
    height: 290px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #e0e0e0;
    padding: 1.5rem 3rem 1.5rem 3rem;
    box-shadow: 5px 5px 5px #e0e0e0;
}

/* ----valores---- */


.valores{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-valores{
    display: inline-block;
    width: 20%;
    height: fit-content;
    color: white;
    font-size: 2.1em;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #295aa5;
}

.div-valores1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.valores2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.div-valores2{
    width: 50%;
    margin: 0 auto;
}

.img-valores{
    width: 592px;
    height: 262.156px;
    filter: drop-shadow(rgb(215, 219, 221) 5px 5px 10px);
}

.div-sumate{
    width: 1263px;
    height: 153px;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 16px;
    padding-right: 48px;
}

.boton-sumate{
    margin-left: 90%;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: rgb(240, 240, 240);
    transition: 0.5s;

}

.boton-sumate:hover{
    transform: scale(1.1);

}

/* ----EQUIPO---- */

.div-equipo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-equipo1{
    display: inline-block;
    width: 20%;
    height: fit-content;
    color: white;
    font-size: 2.1em;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #295aa5;
}

.div-equipo3{
    padding-left: 1rem;
    padding-right: 1rem;
}

.div1-fotos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-left: 6px;
    margin-bottom: 10px;
}

.div2-fotos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-left: 7px;
    margin-bottom: 10px;
}
.div3-fotos{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-left: 7px;
    margin-bottom: 10px;
}

.div-sumate-integrantes{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 50%;

}

.btn-sumate-integrantes{
    background-color: rgb(240, 240, 240);
    border: 2px solid #295aa5;
    border-radius: 30px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;    
    transition: 0.5s;
}

.btn-sumate-integrantes:hover{
    transform: scale(1.1);
}

/* ----SUMATE */

.seccion-sumate{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
}

.div-fotosumate{
    margin-left: 52.625;
    margin-right: 52.625;
    padding-left: 15;
    padding-right: 15;
}

.div-formsumate2{
    border: 3px solid #295aa5;
    max-width: 430px;
    padding-top: 1.5rem;
    padding-right: 15px;
}

form{
    padding-left: 3rem;
    padding-right: 3rem;
}


.p-sumate{
    width: 84.5%;
}

.textoform{
    display: inline-block;
    width: 82%;
    height: 63px ;
    color: white;
    font-size: 2.1em;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #295aa5;
}

/* .row{
    padding-left: 1rem;
    padding-right: 1rem;

} */

.col-md-6{
    width: 90%;
}

.col-md-4{
    width: 90%;
}

.col-12{
    width: 90%;
}
/* .textarea{
    margin-top: 24;
    margin-bottom: 24;
} */

textarea{
    width: 82%;
}

.form-floating{
    width: 90%;
}

.col-13{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ----CONOCENOS---- */

.div-conocenos{
    height: 688.797px;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;

}

.div__imgconocenos{
    width: 285.75px;
    height: 672.8;
    margin-left: 10px;
}

.img-conocenos{
    margin-bottom: 1rem;
}

.div-ellosrep{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.h2-conocenos{
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    margin-right: 1rem;
    margin-left: 0;

}

div>ul{
    list-style-type: disc;
}

li{
    margin-bottom: 1rem;
}

/* ----MATERIALES---- */

.section-contacto1{
    margin-bottom: none;
}

.div-materiales{
    width: 298px;
    height: 2850px;
    display: flex;
    flex-direction: row;
    /* padding-bottom: 3rem; */
}

.search-materiales{
    width: 298px;
    padding-top: 45px;
    background-color: rgb(234, 237, 237);
}

.d-flex{
    width: 270px;
    padding-left: 2rem;
    padding-bottom: 25px;
}

.div-materiales1{
    width: 298px;
    height: 2890    px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(234, 237, 237);
}

.ahref-materiales{
    width: 205px;
    height: 24px;
    display: block;
    color: black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 1rem;

}

.div-materiales2{
    width: 965px;
}

.cards-materiales3{
    width: 965px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 0.5rem;

}

.card-automatismo{

    width: 20rem;
    height: 321px;
    box-shadow: 4px 10px 20px 0px;
    cursor: pointer;
    color: #848385;
    transition: .2s;
}

.card-automatismo:hover{
    transform: scale(1.1);
}


.cards-materiales{
    width: 20rem;
    box-shadow: 4px 10px 20px 0px;
    margin-bottom: 30px;
    transition: .2s;
    color: #848385;
}

.cards-materiales:hover{
    transform: scale(1.1);
}


.p-card{
    text-align: center;
    font-weight: 700;
    padding: 1.5rem;
}

.p-card:hover{
    color: #295aa5;
}


/* ----SERVICIOS---- */


.section-contacto2{
    height: 1740px;
}

.ahref-materiales2{
    width: 168px;
    height: 48px;
    display: block;
    color: black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 1rem;
}

.div-materiales4{
    width:100%;
    height: 1545px;
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
}


/* ----MARCAS---- */


.div-materiales5{
    width: 1028px;
    height: 1797px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-imgmarcas{
    width: 257px;
    height: 170.7px;
    transition: all.2s;
}

.div-imgmarcas:hover{
    transform: scale(1.1);
}

.bis1{
    width: 226px;
}

.bis2{
    height: 1740px;
    padding-bottom: 0;
}

.bis3{
    height: 1980px;
}

.bis4{
    /* margin-bottom: 0; */
    height: 24px;
}



/* ----NOVEDADES */

.div-novedades{
    width: 1151px;
    height: 412px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.div-textolateral{
    height: 250px;
    margin-left: 3rem;
}

.divpie{
    width: 20%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.divantsig{
    margin: 2px 15px 2px 15px;
}

.nropie{
    background-color: #4285f4;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-left: 2px;
    margin-right: 2px;
}

.nrope1-2{
    background-color: white;

}

.nropie2{
    background-color: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.nropie2:hover{
    transform: scale(1.3);
    background-color: #e7eaef;
    color: #868e96;
}


.nro{
    display: block;
    color: white;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
}

.nro2{
    display: block;
    color: #868e96;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    /* transition: all 0.2s; */
}

.nro2:hover{
    color: #868e96;
}

.color{
    color: #868e96;
}

.color:hover{
    color: #868e96;
}

.divantsig2{
    margin: 2px 15px 2px 15px;
}
.color2{
    color: #868e96;
    background-color: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.color2:hover{
    transform: scale(1.3);
    background-color: #e7eaef;
    color: #868e96;
}

.boton{
    margin-top: 60px;
}

.nropie11{
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.nropie11:hover{
    transform: scale(1.3);
    background-color: #e7eaef;
    color: #868e96;
}

.nropie12{
    background-color: #4285f4;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin-left: 2px;
    margin-right: 2px;    
}

.nro13{
    display: block;
    color: #868e96;
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
}

.color44{
    color: #868e96;
    background-color: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.color44:hover{
    transform: scale(1.3);
    background-color: #e7eaef;
    color: #868e96;
}





/* ----NUESTRO CLUB---- */
.b11{
    width: 60%;
    
}

.divgralnc{
    width: 1203px;
    height: 773px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div-fotosnc{
    width: 496.25px;
    height: 444.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.divpnc{
    width: 631.5px;
    height: 730px;
    margin: 0 auto;
}

.imgnuestroclub{
    margin-bottom: 1.5rem;
}

.pnuestroclub{
    margin-bottom: 1rem;
}

.botonerapie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pienuestroclub{
    padding-left: 0px;
}

.btnrojo{
    border: 2px solid;
    border-color: rgb(255, 20, 31);
}





/* FOOTER */

footer{
    width: 100%;
    height: 440.703px;
    height: max-content;
}

.mancha-gris{
    display: block;
}

.mancha__gris{
    margin: 0 auto;
    display: block;
    width: 50%;
}


.centro-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul>li{
    list-style-type: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.link-footer{
    font-size: 1rem;
    color: #295aa5;

}

.contacto-footer{
    font-size: 0.92rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.img-footer{
    width: 25%;
}

img.img__footer{
    object-fit: contain;
    width: 100%;
}

.pie-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pie__footer {
    margin-left: 20px;
    font-size: 1.1em;
}

img.img-piefooter {
    height: 38px;
}

.manchas-bajas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mancha__azul{
    height: 60px;
}

.mancha__roja{
    height: 60px;
}

/* NOSOTROS */

.nosotros{
    width: 100%;
    margin-bottom: 100px;
    
}

.fotos-nosotros{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.fotos__nosotros{
    width: 100%;
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
}

.texto-nosotros{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2equipo{
    color: rgb(255, 20, 31);
    text-align: right;
    margin-right: 1.5rem;
}

.pnosotros{
    padding: 3rem;
}

.a-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(41, 90, 165);
    margin-top: 75px;
    
}

.a__nosotros{
    border: 2px solid rgb(41, 90, 165);
    border-radius: 24px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}

.a__2nosotros{
    border: 2px solid rgb(255, 20, 31);
    border-radius: 24px;
    padding: 10px;
    color: rgb(255, 20, 31);
    font-weight: 500;
    font-size: 14px;
}